#particle-container {
	animation-duration: 4s;
	animation-name: particle-fade-in;
}

@keyframes particle-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#nav-header {
	position: fixed;
	top: 0;
	z-index: 1000;
	animation-duration: 2s;
	animation-name: header-slide-in;
}

#nav-header.opaque-nav {
	background-color: rgba(0, 0, 0, 0.25);
}

@keyframes header-slide-in {
	from {
		left: 100vw;
		opacity: 0;
	} 
	to {
		left: 0;
		opacity: 1
	}
}

a.nav {
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1px;
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 10px 30px;
	display: inline;
	outline: none;
}
a.nav:hover { border-bottom: 1px solid var(--theme); }

a.router-link-active {
	border-bottom: 1px solid var(--theme);
}

#side-menu-btn {
	background: transparent;
	color: var(--accent);
	border: none;
	font-size: 25px;
	outline: none;
}
#side-menu-btn:hover {
	color: var(--accent-btn-hover);
}

#side-menu {
	width: 0;
	height: 0;
	background-color: var(--accent);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	transition: all .2s ease-in-out;
	z-index: 100;
}

.show-side-menu {
	width: 200px !important;
	height: 100vh !important;
}

#side-menu .nav {
	color: white;
	display: none;
	border: none;
}

#side-menu.show-side-menu .nav {
	display: block;
	animation-duration: 1s;
	animation-name: index-title-divider-fade-in;
}

#side-menu a.router-link-active {
	background: rgba(255, 255, 255, 0.2);
}

#side-menu-btn-close {
	background: transparent;
	color: white;
	border: none;
	font-size: 25px;
	outline: none;
	display: none;
}
#side-menu.show-side-menu #side-menu-btn-close {
	display: block;
	height: 50px;
	margin-left: 25px;
	margin-top: 4px;
	animation-duration: 1s;
	animation-name: index-title-divider-fade-in;
}

/* ---------- index ---------- */
#serverErrorContainer {
	background: rgba(255, 0, 0, 0.15);
	width: 100%;
	position: absolute;
	top: 0;
	letter-spacing: 0px;
	font-weight: 100;
}
.index-title {
	text-align: center;
	animation-duration: 2s;
	animation-name: index-title-divider-fade-in;
}
.header-divider {
	height: 1px;
	padding: 0px;
	background-color: var(--theme);
}

@keyframes index-title-divider-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ---------- footer ---------- */
#flying-footer-content {
	position: relative;
	animation-duration: 2s;
	animation-name: footer-slide-in;
}

@keyframes footer-slide-in {
	from {
		right: 100vw;
		opacity: 0;
	} 
	to {
		right: 0;
		opacity: 1
	}
}

.pretty-img {
	display:block;
	margin:10px auto;
	box-shadow: 2px 2px 4px black; 
	border-radius:10px;
}

/* ---------- portfolio page ---------- */
.portfolio-project-container {
	background: #181f1fe0;
	padding: 5px;
	box-shadow: 2px 2px 4px black; 
	border-radius:10px;
	margin-bottom: calc(var(--bs-gutter-x) * .5);
}